body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#search-button {
    font-size: 2rem;
}

input[type=text], select {
    width: 16rem;
    padding: 0.8rem 1.3rem;
    margin: .5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: .4rem;
    box-sizing: border-box;
  }